html{
    box-sizing: border-box;
}
body{
    font-size: 1em;
    overflow-x: hidden;
}
.wrapper{
    max-width: 20em;
    max-height: 35.5em;
    margin: 0 auto;
}
.accordion{
    background-color: rgb(240, 235, 201);
    padding: 1em 2em;
    margin: 0 auto;
}
.accordion__name{
    font-size: 2em;
}
.accordion__item{
display: flex;
flex-direction: column;
margin-bottom: 0.5em;
position: relative;
}
.accordion__radio{
    display: none;
}
.accordion__divider{
    display: block;
    border-top: solid;
    height: 0.1em;
    width: 100%;
    color: rgb(185, 185, 185);
}
.accordion__content{   
    background-size: cover;
    width: 0em;
    height: 0em;
    margin: 0 auto;
    transition: 0.5s;
}
.acc__one{
    background-image: url(../img/05.jpg);
}
.acc__two{
    background-image: url(../img/04.jpg);
}
.acc__three{
    background-image: url(../img/03.jpg);
}
.acc__four{
    background-image: url(../img/01.jpg);
}
.acc__five{
    background-image: url(../img/02.jpg);
}
.accordion__trigger{
    color: blue; 
    font-size: 1em;
    font-weight: 900;
    padding:  0.5em 0;
    /* display: block; */

}
.fa-plus{
    visibility: hidden;
    transition: 0.5s;
}
.accordion__radio:checked ~.accordion__trigger{
    color: black;
}
.accordion__radio:checked ~.accordion__content{
    width: 10em;
    height: 10em;
    transition: 0.5s;
}

.accordion__header:active >.accordion__content{
    opacity: 0.5;
}

/* ------------------- TABLET VERSION-------------------*/
@media(min-width: 321px) and (max-width: 820px){
    .wrapper{
        max-width: 51.25em;
        max-height: 73.75em;
    }

}
/* ---------------DESKTOP-------------- */
@media(min-width: 1920px){
    body{
        font-size: 1.6em;
    }
    .wrapper{
        max-width: 90em;
    }
    .accordion{
        width: 32em;
        padding: 3em 8em;
    }
    .accordion:hover .accordion__trigger{
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: 0.5s;
    }
    .accordion__radio:checked ~.accordion__content{
        width: 15em;
        height: 15em;
    }
    .accordion__header:hover >.accordion__content{
        width: 15em;
        height: 15em;
        transition: 0.5s;
        cursor: pointer;
    }
    .accordion__header:active >.accordion__trigger{
        color: blue;
        opacity: 0.5;
        transition: 0.5s;
    }
    .accordion__trigger{
        display: flex;
        justify-content: space-between;
    }
    
    .accordion:hover .fa-plus{
        visibility: visible;
        transition: 0.5s;
        cursor: pointer;
    }
    .accordion__trigger:hover .fa-plus{
        transform: rotate(45deg);
        transition: 0.5s;
        cursor: pointer;
    }
    .accordion__header:hover >.accordion__trigger>.fa-plus{
        transform: rotate(45deg);
        transition: 0.5s;
        cursor: pointer;
    }
    .accordion__radio:checked+.accordion__trigger>.fa-plus{
        transform: rotate(45deg);
        cursor: pointer;
        transition: 0.5s;
    }
    
    
}